<table class="table">
  <tbody>
  <tr>
    <td>{{product.id}}</td>
    <td>
      <input type="text" class="form-control" placeholder="Product name" [(ngModel)]="editableProduct.name">
    </td>
    <td>
      <input type="number" class="form-control" placeholder="Product price" [(ngModel)]="editableProduct.price">
    </td>
    <td>
      <button type="button" class="btn btn-success btn-sm" (click)="saveProduct()">
        <i class="fa fa-check text-light"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
